.div{
    text-align: center;
}
body{
    background-color: black;
    color: black;
}
input{
    height: 30px;
    
}
.btn{
    border: none;
    color: white;

}
.btn:hover{
    border-radius: 5px;
   
}